In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:

df = pd.read_csv("data.csv", encoding="ISO-8859-1", parse_dates=['InvoiceDate'])

In [4]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
df.shape

(541909, 8)

In [7]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [8]:

engine = create_engine("mysql+mysqlconnector://root:pricass00@localhost/rfm_project")

In [9]:

df.to_sql("orders_raw", con=engine, index=False, if_exists='replace')
print("Data successfully loaded into MySQL!")

Data successfully loaded into MySQL!

In [10]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [11]:
df_clean=df.copy()

In [12]:
df_clean = df_clean.dropna(subset=['CustomerID'])

In [13]:
df_clean.shape

(406829, 8)

In [14]:
df_clean['CustomerID'] = df_clean['CustomerID'].astype(int)

In [15]:
df_clean['Description'] = df_clean['Description'].fillna('Unknown')

In [16]:
df_clean.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [17]:
df_clean['TotalPrice'] = df_clean['Quantity'] * df_clean['UnitPrice']

In [18]:
df_clean = df_clean[df_clean['Quantity'] > 0]

In [19]:
df_clean= df_clean[df_clean['UnitPrice'] > 0]

In [20]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397884 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397884 non-null  object
 1   StockCode    397884 non-null  object
 2   Description  397884 non-null  object
 3   Quantity     397884 non-null  int64
 4   InvoiceDate  397884 non-null  datetime64[ns]
 5   UnitPrice    397884 non-null  float64
 6   CustomerID   397884 non-null  int64
 7   Country      397884 non-null  object
 8   TotalPrice   397884 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 30.4+ MB

In [21]:
df_clean.to_csv("cleaned_data.csv",index=False)

In [ ]:
df_clean.to_sql(
    name="orders_clean",
    con=engine,
    index=False,
    if_exists="replace"
)

print("Clean data successfully exported to MySQL orders_clean table!")