In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
engine = create_engine("mysql+mysqlconnector://root:pricass00@localhost/rfm_project")

In [7]:

rfm = pd.read_sql("SELECT * FROM rfm_final", engine)

In [8]:
rfm.head()

,CustomerID,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Score,Segment
0,14646,2,73,280206.02,1,1,1,111,Lost
1,18102,1,60,259657.30,1,1,1,111,Lost
2,17450,9,46,194550.79,1,1,1,111,Lost
3,16446,1,2,168472.50,1,3,1,131,At Risk
4,14911,2,201,143825.06,1,1,1,111,Lost

In [9]:

rfm['AvgOrderValue'] = rfm['Monetary'] / rfm['Frequency']

In [10]:
df2 = pd.read_sql("SELECT CustomerID, InvoiceDate FROM orders_clean", engine)

In [11]:


span = df2.groupby('CustomerID').agg(
    First=('InvoiceDate','min'),
    Last=('InvoiceDate','max')
)

In [12]:

span['ActiveMonths'] = (
    (span['Last'] - span['First']) / pd.Timedelta(days=30)
).clip(lower=1)

In [13]:

rfm = rfm.merge(span['ActiveMonths'], left_on='CustomerID', right_index=True)

In [14]:

rfm['PurchasesPerMonth'] = rfm['Frequency'] / rfm['ActiveMonths']

In [15]:

rfm['CLV_12M'] = rfm['AvgOrderValue'] * rfm['PurchasesPerMonth'] * 12

In [16]:

rfm.to_csv("final_rfm_output.csv", index=False)

In [17]:
rfm.head(10)

,CustomerID,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Score,Segment,AvgOrderValue,ActiveMonths,PurchasesPerMonth,CLV_12M
0,14646,2,73,280206.02,1,1,1,111,Lost,3838.438630,11.769514,6.202465,285693.383069
1,18102,1,60,259657.30,1,1,1,111,Lost,4327.621667,12.226574,4.907344,254845.517732
2,17450,9,46,194550.79,1,1,1,111,Lost,4229.365000,11.972361,3.842183,194999.921764
3,16446,1,2,168472.50,1,3,1,131,At Risk,84236.250000,6.832477,0.292720,295891.232980
4,14911,2,201,143825.06,1,1,1,111,Lost,715.547562,12.402523,16.206380,139157.226266
5,12415,25,21,124914.53,2,1,1,211,Lost,5948.310952,10.437731,2.011931,143611.124952
6,14156,10,55,117379.63,1,1,1,111,Lost,2134.175091,12.065417,4.558483,116743.217322
7,17511,3,31,91062.38,1,1,1,111,Lost,2937.496129,12.366505,2.506771,88363.575054
8,16029,39,63,81024.84,3,1,1,311,Needs Attention,1286.108571,11.167361,5.641440,87066.055295
9,12346,326,1,77183.60,5,5,1,551,Champions,77183.600000,1.000000,1.000000,926203.200000